*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #2e9b22; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f4f4f4; }

.link:link,
.link:visited {
  color: #402a38;
  font-weight: bold; }
  .link:link:hover,
  .link:visited:hover {
    color: #2e9b2248; }

.hidden {
  display: none; }

.page {
  width: 1000px;
  margin: 200px auto;
  padding: 80px;
  border-radius: 20px;
  background-color: #fff; }

.header {
  font-weight: 800; }
  .header__paragraph {
    padding: 1rem; }

.container__header {
  font-weight: 200; }

.container__elements {
  display: flex;
  align-content: flex-between; }

.container__split__box {
  display: flex;
  flex-direction: row; }
  .container__split__box__items {
    display: flex;
    flex-direction: column; }
    .container__split__box__items__form {
      display: flex;
      flex-direction: column; }

.container__box {
  padding: 4rem;
  text-align: left; }
  .container__box__header {
    font-weight: 400; }
  .container__box__img:hover {
    opacity: 0.3;
    cursor: pointer; }

.container__button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem; }
  .container__button__previous {
    width: 30rem;
    height: 6rem;
    background-color: #2e9b22;
    color: #ffffff; }
  .container__button__next {
    width: 30rem;
    height: 6rem;
    background-color: #2e9b22;
    color: #ffffff; }
