/* //$ CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #2e9b22;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f4f4f4;
}

h2 {
  font-weight: 200;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

.link:link,
.link:visited {
  color: #402a38;
  font-weight: bold;
}

.link:link:hover,
.link:visited:hover {
  color: #2e9b2248;
}

.hidden {
  display: none;
}

.picked {
  opacity: 0.3;
}

.picked + .overlay {
  opacity: 1;
  z-index: 2;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 107%;
  color: #ffffff;
  transition: 0.1s ease;
  opacity: 0;
  font-size: 4rem;
}

.img__wrap {
  position: relative;
  background: hsla(114, 64%, 37%, 0.24);
}

.page {
  width: 100%;
  max-width: 100rem;
  margin: 20rem auto;
  padding: 8rem;
  border-radius: 2rem;
  background-color: #fff;
}

.header {
  font-weight: 800;
}

.header__paragraph {
  padding: 1rem;
}

.container__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-between;
}

.container__elements > * {
  flex: 1 1 30%;
}

.container__box {
  padding: 4rem;
  text-align: left;
}

.container__box__header {
  font-weight: 400;
}

.container__box__img {
  display: block;
  width: 100%;
  height: auto;
}

.container__box__img:hover {
  cursor: pointer;
}

.container__split__box {
  display: flex;
}

.container__split__box > * {
  flex: 1 1;
}

.container__split__box__header {
}

.container__split__box__items {
  display: flex;
  flex-direction: column;
}

.container__split__box__items__form {
  background-color: #f4f4f4;
  width: 80%;
  margin: 2rem 0 0 5%;
  padding: 3rem;
  color: #000;
  border-radius: 3rem;
}

.container__split__box__items__form ul li {
  display: flex;
  flex-direction: row;
}

.container__split__box__items__form ul li label {
  width: 80%;
  padding-right: 2rem;
  font-weight: 500;
}

.container__split__box__items__form ul li input {
  margin-bottom: 1rem;
  height: 4rem;
  width: 20%;
  text-align: center;
  padding-left: 1rem;
}

ul {
  list-style: none;
}

.side {
  display: flex;
  flex-direction: row;
}

.side input:first-child {
  margin-right: 3rem;
  width: 60rem;
}

.container__split__box__forms {
  display: flex;
  flex-direction: column;
}

.container__split__box__forms__form {
  text-align: center;
  width: 40rem;
  align-self: center;
  margin-top: 2rem;
}

.container__split__box__forms__form ul li input {
  margin: 1rem 0 1rem 0;
  height: 4rem;
  width: 100%;
  padding: 2rem;
}

.checkbox {
  display: grid;
  grid-template-columns: 10% 90%;
  text-align: left;
}

.checkbox label {
  padding-left: 2rem;
  margin-top: 1rem;
}

.container__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}

.container__button__previous {
  width: 30rem;
  height: 6rem;
  background-color: #2e9b22;
  color: #ffffff;
}

.container__button__next,
.container__button__submit {
  width: 30rem;
  height: 6rem;
  background-color: #2e9b22;
  color: #ffffff;
}

.p_button {
  background: none;
  border: none;
  font-size: 3rem;
  color: #2e9b22;
}

.layout {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1 90% 1;
}

@media only screen and (max-width: 700px) {
  .container__elements > * {
    flex: 1;
  }

  .container__button {
    justify-content: space-around;
    margin-top: 0;
  }

  .container__button__next,
  .container__button__submit {
    width: 30rem;
    height: 6rem;
    background-color: #2e9b22;
    color: #ffffff;
    margin-top: 3rem;
  }

  .hiddenButton {
    display: none;
  }
}
